<h1 class="welcome-title" >Bienvenido/a al portal de TestRacing!</h1>
<div class="icono">
  <img width="300" src="/imagenes/iconomoto3.png.png" alt="icono moto">
</div>

<div class="welcome-text">
  <p class="p-text">TestRacing es un software con el que podras registrar cualquier sesion de entrenamiento o competicion que realizes, asi siempre tendras tus registros guardados y clasificados segun circuito y condiciones del circuito.</p>
  <p class="p-text">TestRacing tambien ofrece la posibilidad de guardar tus propios vehiculos y asignar diferentes configuraciones de puesta a punto. </p>
</div>
  
  
  <div class="contenedor-videos">
    <div class="video" id="video">
      
      <video width="500"  loop autoplay muted>
        <source src="videos/SBtest.mp4#t=30" type="video/mp4" />
      </video>
    
    </div>
      
    <div class="video" id="video">
      <video width="500" loop autoplay muted>
        <source src="videos/Pitbiketest.mp4" type="video/mp4" />
      </video>
    </div>
  
  </div>
