{{>errors}}


<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Registro</h1>
            </div>
            <div class="card-body">
                <img src="#" alt="logo">
                <form action="/user/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" value="{{nombre}}" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Repetir Password">
                    </div>
                    <div>
                        <input class="form-switch" type="checkbox" >Acepto la política de privacidad
                         <button class="btn btn-primary btn-block mt-10">Registrarse</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
</div>